html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;

}
img {
  max-width: 100%;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* ++++++++++++++++++++++
START STYLING
++++++++++++++++++++++ */

p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}